#table{
  border: outset;
  background-color: #934B00;
}


td{
  border: 3px #690500 solid;
}

th{
  border: 3px #BB6B00 solid;
}


/* test for merging lab a and b */
body {
  background-image: linear-gradient(45deg, transparent 20%, #562c2c 25%, transparent 25%), 
                    linear-gradient(-45deg, transparent 20%, #f2542d 25%, transparent 25%), 
                    linear-gradient(-45deg, transparent 75%, #f5dfbb 80%, transparent 0),
                    radial-gradient(#0e9594 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
}
h1{
  color: white;
}
header{
  background-color: #210F04;
  height: 100px;
  margin-bottom: 30px;
}

nav{
  width: 960;
  margin: auto;
}
.side{
  float: right;
  width: 150;
  height: 100;
}

header img{
  float:left;
}


header ul{
  display:flex;
  justify-content: space-evenly;
}
header ul li{
  margin-top: 40px;
  color: #210F04;
}

a{
  text-decoration: none;
  color: #777;
}

main{
  width: 960px;
  margin: auto;
  font-family: 'Shizuru', cursive;
}

main span{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

section{
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

section div{
  width: calc(50%-30px);
  padding-left: 30px;
  margin-top: -20px;
}

h2{
  font-size: 20px;
}

section div p{
  height: 300px;
  overflow: auto;
  font-size: 18px;
  font-style: italic;
  line-height: 25px;
}
section div div{
  background-color: #000;
  color: #fff;
  width: max-content;
  padding: 10px 30px;
  margin-top: 33px;
  transition: 350ms;
  font-size: 18px;
  cursor: pointer;
}

section div div:hover{
  background-color: blue;
}


main ul{
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
}
section div p span{
  font-style: italic;
  margin: auto;
  justify-content: right;
}

footer{
  display:flex;
  width: max-content;
  height: max-content;
}
footer div{
  margin:20px;
  background-color: #444;
  height: 150px;
  border-color: black;
  border-style: dashed;
  padding:10px;
}
footer div h4{
font-family: 'Shizuru', cursive;;
text-align: left;
line-height:11px;
font-size: 12px;

}

#myform{
display: flex;

}

#myform #NewStoreForm{

background-color:#0e9594;
}


p{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
